/*name logo*/

#mainNav .navbar-brand {
color: #ffffff;
font-weight: 700;
padding: 0.9rem 0;
}

@media screen and (max-width:360px){
	.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1rem!important;
    line-height: inherit;
    white-space: nowrap;
}
	
	
}

/*header background colour*/
#mainNav {
min-height: 3.5rem;
background-color: #000000;
}

/*mini-menu colour change*/
#mainNav .navbar-toggler {
font-size: 80%;
padding: 0.75rem;
color: #3BADB3;
border: 1px solid #64a19d;
}

/*UX Design title*/
.masthead h1 {
font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 80px;
background-color: #fff;
}

/* UX Design title responsive text*/

@media screen and (max-width: 770px) {
  .masthead h1 {
    font-size: 40px;
  }
}


/*header nav font colour*/

#mainNav .nav-link {
transition: none;
padding: 2rem 1.5rem;
color: #fff;
}

/* slogan font size */

.masthead h2 {
font-size: 30px;
max-width: 40rem;
}

/* get started button colour */

.btn-primary {
color: #fff;
background-color: #3BADB3;
border-color: #3BADB3;
}

/* header nav on click*/
#mainNav.navbar-shrink .nav-link.active {
color: #3BADB3;
outline: none;
border-bottom: 0.25rem solid #3BADB3;
}

/* about section left facing text */

.custom-class-about-section-left-facing-text {

text-align: left;
	
}

/* digital marketing section margin class */
.digital-marketing-section-margin {
	margin-top: 50px;
	
}

/* make any text black class */

.this-text-is-black-now {
color: #000000 !important;
	
}

/* make any text white class */

.this-text-is-white-now {
color: #ffffff !important;
	
}

/* web design side blue bar */
.projects-section .featured-text {
padding: 0 0 0 2rem;
border-left: 0.5rem solid #3BADB3;
}

/* graphic design under blue bar */

.projects-section .project-text hr {
border-color: #3BADB3;
border-width: 0.25rem;
width: 30%;
}

/* content creation under blue bar */
.projects-section .project-text hr {
border-color: #3BADB3;
border-width: 0.25rem;
width: 30%;
}

/* footer icons */
.text-primary {
color: #3BADB3 !important;
}

/*background video header top of website*/
.masthead {
position: relative;
width: 100%;
height: auto;
min-height: 35rem;
padding: 15rem 0;
background:linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/vid/head_video_comp_smaller.mp4");
background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
}


/*background video fix?*/

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 70%;
  opacity: 50%;
  z-index: -1;
}

/*give profile pic some space at the bottom*/

.profile-pic-margin-bottom {
	margin-bottom: 90px;
	
	
}

/* get profile pic closer to text*/

.about-section p {
margin-bottom: 2rem;
}

/*give about me section a bump up*/

.about-section {
padding-top: 2rem;
background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

/* change sign up background image */

.signup-section {
padding: 10rem 0;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("../assets/img/background_signup.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
}

/* get rid of space above solutions section*/
.projects-section {
padding: 1rem 0;
}

/* get rid of space above contact section */
.signup-section {
padding: 3rem 0;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("../assets/img/background_signup.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
}


/* fix the profile text on mobile */

@media screen and (max-width:360px){
	.about-section p {
    margin-bottom: 2rem;
    margin-left: 1rem;
}
	
	
}
